body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: rgb(0, 139, 37);
}

a {
    text-decoration: none;
    color: white;
    background: blue;
    padding: 10px 20px;
    border-radius: 5px;
}
